<mat-drawer-container class="app-container" autosize>

  <!-- regression causing SSR to render with drawer closed, https://github.com/angular/components/issues/8969 -->
  <mat-drawer class="app-sidenav" mode="side" [opened]="true">
    <!-- menu component -->
  </mat-drawer>

  <mat-drawer-content>
    <div class="app-sidenav-content">
      <div fxLayout="column" fxFlexFill>
        <!-- header component -->
        <main fxFlex>
          <!-- breadcrumb component -->
          <router-outlet></router-outlet>
        </main>
        <!-- footer component -->
      </div>
    </div>
  </mat-drawer-content>

</mat-drawer-container>