<ng-container *ngIf="api | async; let api">
  <div fxLayout="row">
    <div fxFlex>
      <h1>{{ api.tag.description }}</h1>
    </div>
    <div fxFlex fxLayoutAlign="end start">

    </div>
  </div>
  <ng-container *ngIf="resource | async; let resource">
    <mat-card>
      <mat-card-header>
        <mat-card-title>{{ resource.label }}</mat-card-title>
        <mat-card-subtitle>{{ resource.uri }}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>

      </mat-card-content>
      <mat-card-actions align="end">
        <a mat-button color="warn" (click)="onDelete(api, resource)">DELETE</a>
        <a mat-button [routerLink]="['update']">UPDATE</a>
      </mat-card-actions>
    </mat-card>
  </ng-container>
</ng-container>